/* default body font - Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* default label font */
@font-face {
    font-family: 'Gosto';
    src: 
        local('Gosto LightRounded'),
        local('Gosto-LightRounded'),
        url('fonts/Gosto-LightRounded.otf')
        format('opentype');
}

/* default label font - bold version */
@font-face {
    font-family: 'Gosto';
    src: 
        local('Gosto BoldRounded'),
        local('Gosto-BoldRounded'),
        url('fonts/Gosto-BoldRounded.otf')
        format('opentype');
        font-weight: bold;
}
**, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --border-radius: 27px;
    --input-padding: 20px;
    --margin-standard: 20px;
}

body {
    width: 70em;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    background:#EFE8D7;
}

hr {
    background-color: #C8987D;
    border: none;
    height: 1px;
    padding: 0px;
    margin: 0;
}
input, textarea, .invalid {
    font-size: 1.25em;
    font-family: inherit;
    padding: 0px var(--input-padding);
    border-radius: var(--border-radius);
    width: 25em;
}

input#productSize, input#productQuantity, input#productColor {
    width: 10em;
}


.header, .footer {
    background-color: #EFE8D7;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-self: center;
    margin: 0;
}


div.footer {
    margin-top: 5px;
    height: 80px;
    display: flex; 
    justify-content: center; 
}

.main {
    /* background-color: #fffcfb; */
    display: flex; 
    justify-content: center; 
}

.input-container {
    flex-grow: 8;
}

div.input-row {
  margin-top: 5px;
  display: flex; 
  flex-direction: row; 
  justify-content: left;
}

label {
    font-family: 'Gosto', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    font-size: 1.5em;
    color: #677CAE;
    width: 3.9em;
}

input, label {
    line-height: 2;
}

input, textarea {
    font-family: 'Quicksand': sans-serif;
    margin: 0px var(--margin-standard);
    border-width: 0px;
}

button {
    padding: 10px;
    border-radius: 25px;
    border-width: 0px;
    background-color: #CCA57A;
    font-family: 'Gosto', sans-serif;
    font-size: 19px;
    color: #F4F3F2;
    max-height: 50px;
}

button:hover {
    background-color: #ddac9f;
    color: #F4F3F2;
}

input[readonly] {
   border-style: dotted;
   cursor: not-allowed;
   background: lightgrey;
}

.invalid {
    border: solid 1px red;
}

input:focus:not(.invalid), textarea:focus:not(.invalid) {
    border: solid 1px #677CAE;
}


input:focus, textarea:focus {
  outline: 1px solid transparent;
}

.vertical-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-aligner-top {
    align-self: flex-start;
}

.vertical-aligner-bottom {
    align-self: flex-end;
}

.vertical-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}


.horizontal-aligner-left {
    align-self: flex-start;
}

.horizontal-aligner-right {
    align-self: flex-end;
}

#productImageWrapper {
    height: 230px;
    width: auto;
    margin: 0px 20px;
}

#productImage {
    max-height: 18em;
    max-width: 24em;
    border-radius: var(--border-radius);
}
